{% extends "base.html" %}

{% block content %}
<h1>Products</h1>

<a href="/add_product">Add Product</a>

<ul>
  {% for product in products %}
    <li>
      <img src="{{ url_for('static', filename=product.image_url) }}" width="150"><br>

      <strong>{{ product.name }}</strong><br>
      Category: {{ product.category }}<br>
      Price: ${{ product.price }}<br>
      Qty: {{ product.quantity }}<br>

      <a href="/edit_product/{{ product.id }}">Edit</a>
      <a href="/delete_product/{{ product.id }}">Delete</a>
    </li>
    <br>
  {% endfor %}
</ul>

{% endblock %}